---
http_interactions:
- request:
    method: get
    uri: https://api.sampleapis.com/simpsons/characters/6660
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '480'
      X-Ratelimit-Reset:
      - '1681052961'
      Etag:
      - W/"51-dxOg/lGBtO24ydywAN91NovEVpM"
    body:
      encoding: UTF-8
      string: '{"id":6660,"name":"Homer Simpson","normalized_name":"homer simpson","gender":"m"}'
  recorded_at: Sun, 09 Apr 2023 15:09:06 GMT
recorded_with: VCR 6.1.0
