---
http_interactions:
- request:
    method: get
    uri: https://newsapi.org/v2/top-headlines?country=us&page=1&pageSize=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Key:
      - "<NEWS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","totalResults":36,"articles":[{"source":{"id":"the-washington-post","name":"The
        Washington Post"},"author":"Annie Gowen, Hadley Green","title":"Tenn. GOP
        deepens racial tension after expelling Black lawmakers - The Washington Post","description":"In
        a state with a legacy of brutal battles over race and power, Tennessee House
        Republicans voted to oust two young Black Democrats who led a protest in the
        chamber.","url":"https://www.washingtonpost.com/nation/2023/04/08/tennessee-three-nashville-shooting-expelled/","urlToImage":"https://www.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/QFV5A735JBHSJLE5TPCWGZYUBM.jpg&w=1440","publishedAt":"2023-04-09T02:21:29Z","content":"Comment
        on this story\r\nComment\r\nTennessee House Republicans said it was a just
        a matter of decorum, the need to behave properly in the historic chamber of
        the state Capitol.\r\nTwo newly elected Black … [+12641 chars]"},{"source":{"id":"abc-news","name":"ABC
        News"},"author":"Mary Kekatos","title":"CDC warns doctors to be on the lookout
        for rare Marburg virus - ABC News","description":"Cases have been detected
        in Tanzania and Equatorial Guinea.[...]
